<header class="d-flex container align-items-center text-white">
  <a class="navbar-brand" href="#">Store App</a>

  <form id="searchArea" class="input-group" role="search">
    <input class="form-control" type="search" placeholder="Search" aria-label="Search"/>
    <button class="btn btn-light" type="submit">Search</button>
  </form>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#NavbarDefault" aria-controls="NavbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="NavbarDefault">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>